<%= form_for(@example) do |f| %>
  <%= render 'shared/errors', object: @example %>

  <h4>Existing (processed) Photos</h4>
  <div class="row">
    <% @example.photos.each do |photo| %>
      <img src="<%= photo.image.thumb %>" alt="" />
    <% end %>
  </div>
  <h4>Photos to Upload</h4>
  <div class="row">
    <div data-ajax-img-upload-group='multi1' class='image-placeholder'></div>
  </div>
  <br><br>
  <button type="button" class="btn btn-info" data-ajax-img-upload-group='multi1'>Upload Images</button>
  <br><br>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= render 'shared/upload_ajax' %>
