<style media="screen">
  .image-placeholder img {
    max-width: 400px;
  }
</style>
<h1>First Form</h1>
<%= form_for @photo, html: { multipart: true } do |f| %>
  <%= render 'errors' %>

  <div data-ajax-img-upload-group='demo1' class='image-placeholder'>
    <img src="<%= @photo.image %>" alt="image placeholder"  />
    <%= f.hidden_field :remote_image_url, 'data-ajax-img-upload-group' => 'demo1' %>
  </div>

  <button type="button" class="btn btn-info" data-ajax-img-upload-group='demo1'>Upload Image</button>
  <br><br>

  <%= f.submit %>

<% end %>

<h1>Second Form</h1>
<%= form_for @photo, html: { multipart: true } do |f| %>
  <%= render 'errors' %>

  <div data-ajax-img-upload-group='demo2' class='image-placeholder'>
    <img src="<%= @photo.image %>" alt="image placeholder"  />
  </div>

  Image URL:<%= f.text_field :remote_image_url, { 'data-ajax-img-upload-group' => 'demo2', readonly: true } %>
  <br><br>

  <button type="button" class="btn btn-info" data-ajax-img-upload-group='demo2'>Upload Image</button>
  <br><br>

  <%= f.submit %>

<% end %>

<%= render 'shared/upload_ajax' %>
