<style media="screen">
  .image-placeholder img {
    max-height: 120px;
  }
</style>

<%= form_for @photo, html: { multipart: true, id: 'form1', name: 'form1' } do |f| %>
  <%= render 'shared/errors', object: @photo %>

  <div data-ajax-img-upload-group='demo1' class='image-placeholder'></div>

  <%= f.hidden_field :remote_image_url, 'data-ajax-img-upload-group' => 'demo1' %>

  <br><br>
  <button type="button" class="btn btn-info" data-ajax-img-upload-group='demo1'>Upload Image</button>
  <br><br>

  <%= f.submit %>

<% end %>

<%= render 'shared/upload_ajax' %>
