<p id="notice"><%= notice %></p>
<p>
  <h6>Thumb</h6>
  <%= image_tag(@photo.image.thumb)%>
</p>
<p>
  <h6>Search Results</h6>
  <%= image_tag(@photo.image.search_results)%>
</p>
<p>
  <h6>Large</h6>
  <%= image_tag(@photo.image.large)%>
</p>
<p>
  <h6>Feature</h6>
  <%= image_tag(@photo.image.feature)%>
</p>
<p>
  <h6>Inline</h6>
  <%= image_tag(@photo.image.inline)%>
</p>
<p>
  <b>File name:</b>
  <%= @photo.image %>
</p>



<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
